button,
select,
input {
    pointer-events: all;
    margin: 0;
}

/**
Selected state
**/
button:focus-visible {
    outline: 2px solid rgba(255, 255, 100, 1);
    outline-offset: 2px;
}

button,
.form-control {
    font-family: inherit;
    font-size: inherit;

    background: var(--button-bg);
    color: var(--button-text);
    backdrop-filter: blur(10px);

    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:disabled,
    &[data-disabled="true"] {
        opacity: .5;
        cursor: not-allowed;
    }

    &:hover {
        background: rgba(250, 250, 250, 0.5);
    }
}

.form-control {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: .5em;
}

input[type="checkbox"] {
    --size: .95em;
    --checked-color: rgba(255, 255, 255, 1);

    /** Hide native checkbox */
    -webkit-appearance: none;
    appearance: none;
    background-color: rgba(255, 255, 255, .2);
    margin: 0;

    /** Create custom checkbox */
    font: inherit;
    color: rgba(255, 255, 255, .5);
    width: var(--size);
    aspect-ratio: 1;
    border: 2px solid currentColor;
    border-radius: 0.5em;

    display: grid;
    place-content: center;

    &::after {
        content: "";
        width: calc(var(--size) * 0.5);
        aspect-ratio: 1;
        border-radius: 5rem;
        transform: scale(0);
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em var(--checked-color, #000);
    }

    &:checked::after {
        transform: scale(1);
    }
}


select {
    font-family: inherit;
    font-size: inherit;

    padding: 5px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 
input[type="checkbox"] {
    border: 2px solid red;
    padding: 5px 10px;
    background: var(--button-bg);
    color: var(--button-text);
    backdrop-filter: blur(10px);

    &::after {
        content: attr(data-label);
    }
} */


/** Slider styles **/
input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    padding-right: var(--slider_thumb_width);
    height: 52px;
    background: var(--button-bg);
    backdrop-filter: blur(10px);
    outline: none;
    overflow: hidden;
    cursor: pointer;

    /** add data-label as content over the thumb **/
    &::before {
        font-family: var(--font-family);
        content: attr(data-label);
        position: absolute;
        color: rgba(255, 255, 255, 1);
        font-size: 1.5rem;
        /* left: 50%;
        transform: translateX(-50%); */
        left: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding-left: 26%;
        padding-bottom: .05em;
    }

    &::-webkit-slider-thumb {
        transition: all .2s;
        -webkit-transition: .2s;
    }

    &::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: var(--slider_thumb_width);
        background: rgba(255, 255, 255, 1);
        border-right: var(--width) solid var(--button-bg);
        margin-right: 2px;
        height: 100px;
        cursor: pointer;
        box-shadow: -1000px 0 0 calc(1000px) var(--button-bg);
        z-index: 10;
    }

    &::-moz-range-thumb {
        -webkit-appearance: none;
        appearance: none;
        width: var(--slider_thumb_width);
        background: rgba(255, 255, 255, .5);
        border-right: var(--width) solid var(--button-bg);
        margin-right: 2px;
        height: 100px;
        cursor: pointer;
        box-shadow: -1000px 0 0 calc(1000px) var(--button-bg);
    }

    &:hover {

        /* background: red; */
        &::-webkit-slider-thumb {
            transition: all .2s;
            box-shadow: -1000px 0 0 calc(1000px) rgba(250, 250, 250, .7);
        }
    }
}


/* input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: #333;
    border-radius: 50%;
    cursor: pointer;
    height: 20px;
    width: 20px;
    border: 0;
}

input[type="range"]::-moz-range-progress {
    background-color: #666;
}

input[type="range"]::-ms-fill-lower {
    background-color: #666 !important;
} */